@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<p>TempData'yı burada çağıralım </p>
<p>TempData data: @TempData["Message"]</p>
