@using BasicShop.MVC.Models.Category.ViewModels
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model EditViewModel

<h1>Kategori Düzenle</h1>


<form method="post" asp-action="Edit">
    <input type="hidden" asp-for="Id" value="@Model.Id" />
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input type="text" class="form-control" asp-for="Name" value="@Model.Name">
    </div>
    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <input type="text" class="form-control" asp-for="Description" value="@Model.Description">
    </div>
    <button type="submit" class="btn btn-primary">Güncelle</button>

</form>
